
<h2>routing</h2>
<div class="link">
    <ul>
        <li>
            <a routerLink ="home"routerLinkActive="active">home</a>
        </li>
        <li>
            <a routerLink ="content" routerLinkActive="active">content</a>
        </li>
        <li>
            <a routerLink ="about"routerLinkActive="active">about</a>
        </li>
        <li>
            <a routerLink ="empform"routerLinkActive="active">emp-form</a>
        </li>
        <li>
            <a routerLink ="form"routerLinkActive="active">form</a>
        </li>
    </ul>
</div>
 <router-outlet></router-outlet>
